// Colors
$black: #111111;
$white: #f2f2f2;
$gray-900: #171717;
$gray-800: #252525;
$placeholder: #909090;

// sizes
$xl: clamp(4rem, 5vw, 6rem);
$lg: clamp(2.5rem, 4vw, 3.2rem);
$md: clamp(2rem, 3vw, 2.8rem);
$sm: clamp(1.8rem, 3vw, 2.4rem);
$xs: clamp(1.4rem, 2vw, 1.6rem);

$radius: 1rem;
